@import "@sass-utils";

.contact {
  position: relative;
  max-width: 900px;
  width: 100%;
  padding: 80px 0;
  margin: 80px auto;
  background-color: var(--color-light);
  border: 1px solid rgba(var(--rgb-border), 0.8);

  @include tab {
    max-width: 800px;
    margin-top: 48px;
  }

  @include sp {
    padding: 40px 0;
    margin-bottom: 64px;
  }
}

.container {
  max-width: 720px;
}

.main_title {
  font-size: rem(48);

  @include sp {
    font-size: rem(40);
    line-height: 1.2;
  }
}

.lead_text {
  font-size: rem(18);
  font-weight: 400;
  letter-spacing: 0.02em;
  line-height: 1.75;
  margin-top: 16px;

  a {
    background-image: repeating-linear-gradient(
      90deg,
      var(--color-main),
      var(--color-main)
    );
    background-size: 0 2px;
    background-repeat: no-repeat;
    background-position: left bottom 3px;
    color: var(--color-main);
    transition: all 0.3s;

    &:hover {
      background-size: 100% 2px;
    }
  }
}
