@import "@sass-utils";

.form_row {
  display: flex;
  flex-direction: column;
  margin-top: 40px;

  @include sp {
    margin-top: 24px;
  }

  label {
    font-size: rem(18);

    span {
      color: var(--color-main);
      margin-left: 4px;
    }
  }
}

.form_control {
  flex-grow: 1;
  margin-top: 16px;

  @include sp {
    margin-top: 8px;
  }

  input,
  textarea {
    width: 100%;
    font-size: rem(18);
    font-weight: 400;
    letter-spacing: 0.02em;
    color: var(--color-text);
    border: 1px solid rgba(var(--rgb-border), 1);
    border-radius: 5px;
    background-color: var(--color-light);
    padding: 0.5em;
    outline: none;
    transition: all 0.3s;

    &:active,
    &:focus {
      border-color: var(--color-main);
    }

    @include sp {
      padding: 0.25em;
    }
  }
}

.form_btn {
  position: relative;
  width: 140px;
  height: 48px;
  font-size: rem(18);
  font-weight: 500;
  color: var(--color-white);
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-main);
  border: none;
  border: 1px solid var(--color-main);
  border-radius: 5px;
  letter-spacing: 0.04em;
  margin-top: 32px;
  cursor: pointer;
  transition: all 0.3s;

  @include sp {
    height: 40px;
    margin-top: 24px;
  }

  span {
    z-index: 1;
  }

  &:hover {
    box-shadow: 0 0 12px rgba(var(--rgb-main), 0.2);
    background-color: transparent;
    color: var(--color-main);
  }
}

.error {
  font-size: rem(16);
  color: var(--color-error);
  margin-top: 0.25em;
}

.error_message {
  color: var(--color-error);
  background-color: rgba(var(--rgb-error), 0.08);
  padding: 1em;
  margin-top: 32px;
  letter-spacing: 0.02em;
}

.submit_message {
  color: var(--color-main);
  font-weight: 500;
  font-size: rem(16);
  background-color: rgba(var(--rgb-main), 0.08);
  padding: 1em;
  margin-top: 32px;
  letter-spacing: 0.02em;
}
