@import "@sass-utils";

.container {
  max-width: 1264px;

  @include tab {
    max-width: 800px;
  }
}

.content {
  position: relative;
  display: flex;

  @include tab {
    flex-wrap: wrap;
  }
}

.main {
  max-width: 800px;
  width: 100%;
  padding-bottom: 120px;

  @include tab {
    max-width: 100%;
    width: 100%;
    padding-bottom: 72px;
  }

  @include sp {
    padding-bottom: 40px;
  }
}

.title {
  font-family: $font-os;
  text-align: center;
  color: var(--color-main-dark-01);
  font-size: rem(40);
  margin: 64px 0 48px;
  letter-spacing: 0.02em;
  display: flex;
  justify-content: center;
  align-items: center;

  @include tab {
    margin: 48px 0;
  }

  @include sp {
    font-size: rem(24);
    margin: 32px 0;
  }

  &::before,
  &::after {
    content: "";
    height: 1px;
    flex-grow: 1;
    background-color: rgba(var(--rgb-border), 0.8);
  }

  &::before {
    margin-right: 32px;
  }

  &::after {
    margin-left: 32px;
  }
}

.title_wrap {
  display: flex;
  flex-direction: column;
}

.title_head {
  font-family: $font-os;
  font-weight: 400;
  font-size: rem(16);
  letter-spacing: 0.16em;

  @include sp {
    font-size: rem(12);
  }
}

.title_main {
  line-height: 1.4;
}
