@import "@sass-utils";

.code {
  font-family: $font-editor;
  font-size: 0.875rem;
  margin: 0 4px;
  color: var(--color-main);
  background-color: var(--color-light);
  border: 1px solid var(--color-border);
  padding: 3px 6px;
  border-radius: 4px;
  display: inline-block;
  line-height: 1.2;
  align-self: center;
}
