// top
.t_small {
  margin-top: 1em;
}

.t_medium {
  margin-top: 2em;
}

.t_large {
  margin-top: 3em;
}

// bottom

// y axis

.y_small {
  margin-top: 1em;
  margin-bottom: 1em;
}

.y_medium {
  margin-top: 2em;
  margin-bottom: 2em;
}

.y_large {
  margin-top: 3em;
  margin-bottom: 3em;
}

.y_xlarge {
  margin-top: 4em;
  margin-bottom: 4em;
}
