@import "@sass-utils";

.pre {
  // overflow: auto;
  // width: 100%;
  // max-width: 100%;
  // display: block;

  /* stylist preferences */
  padding-top: 1rem;
  padding-bottom: 1.2rem;
  font-size: 0.875rem;
  line-height: 1.5rem;

  @include sp {
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    line-height: 1.5;
  }

  // test
  overflow-x: auto;

  // &::-webkit-scrollbar {
  //   scrollbar-width: 5px;
  //   height: 10px;
  //   background: #34352e;
  // }

  // &::-webkit-scrollbar-thumb {
  //   background: rgba(255, 255, 255, 0.2);
  //   border-radius: 6px;
  // }

  // &::-webkit-scrollbar-track {
  //   background: #34352e;
  //   border-radius: 6px;
  // }
}
