.btn {
  width: 180px;
  height: 64px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  background-color: var(--color-main);
  color: var(--color-white);
  font-weight: bold;
}
