@import "@sass-utils";

.component {
  margin-top: 2rem;
}

.wrap {
  position: relative;
  padding: 24px 24px;
  background-color: rgba(var(--rgb-border), 0.6);

  & > p {
    margin-top: 0 !important;
  }
}

.demo {
  background-color: rgba(var(--rgb-border), 0.4);
  color: var(--color-main);
  font-size: rem(14);
  padding: 4px 14px;
  border-radius: 4px 4px 0 0;
}

.theme {
  text-transform: capitalize;
}

.btn {
  background-color: var(--color-light);
  color: var(--color-dark);
  border: 1px solid var(--color-border);
  padding: 4px 16px;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 8px;
}
