$themes: light, dark;

$theme-colors: (
  dark: (
    #3f4a54,
    #fff,
  ),
  light: (
    #fff,
    // #0e1e2d,
    #1a1d24,
  ),
  text: (
    #3f4a54,
    #eef5ff,
  ),
  white: (
    #fff,
    #fff,
  ),
  header-bg: (
    #f9fafb,
    #252627,
  ),
  bg: (
    #fff,
    // #0f172a,
    #1a1d24,
  ),
  main-bg: (
    #f8fafc,
    // #0d1324,
    #191c22,
  ),
  border: (
    #e8edf2,
    #3f4245,
  ),
  main: (
    #1b85ff,
    #49abff,
  ),
  main-dark-01: (
    #6e8094,
    #9dadbe,
  ),
  main-dark-02: (
    #536982,
    #9dadbe,
  ),
  card-time: (
    #9fb0b9,
    #9fb0b9,
  ),
  card-excerpt: (
    #78868e,
    #78868e,
  ),
  nav-link: (
    #525e66,
    #c0d1dc,
  ),
  header-link: (
    #525e66,
    #c0d1dc,
  ),
  footer-link: (
    #525e66,
    #c0d1dc,
  ),
  footer-copy: (
    #525e66,
    #c0d1dc,
  ),
  box-default-bg: (
    #e8edf2,
    #5b6e7e,
  ),
  box-success-bg: (
    #e0f3ff,
    #336c91,
  ),
  box-warning-bg: (
    #fff4ce,
    #d3ae63,
  ),
  editor-bg: (
    #1b242e,
    // #021324,
    // #30363d,
    // #1a1d24,
    #171b25,
  ),
  editor-border: (
    #334155,
    #334155,
  ),
  editor-highlight: (
    #75b1ff,
    #75b1ff,
  ),
  code-bg: (
    #dfefff,
    #dfefff,
  ),
  logo-gh: (
    #6e5494,
    #6e5494,
  ),
  logo-tw: (
    #1da1f2,
    #1da1f2,
  ),
  logo-ig: (
    #cd486b,
    #cd486b,
  ),
  lang-js: (
    #ffd600,
    #ffd600,
  ),
  lang-html: (
    #ff8c0b,
    #ff8c0b,
  ),
  lang-css: (
    #2ea8ff,
    #2ea8ff,
  ),
  lang-scss: (
    #cc6699,
    #cc6699,
  ),
  lang-jsx: (
    #82f3ff,
    #82f3ff,
  ),
  editor-red: (
    #ff5f57,
    #ff5f57,
  ),
  editor-yellow: (
    #febc2e,
    #febc2e,
  ),
  editor-green: (
    #28c840,
    #28c840,
  ),
  error: (
    #f10000,
    #f10000,
  ),
);

@each $theme in $themes {
  @if $theme == light {
    :root {
      @each $name, $colors in $theme-colors {
        $color: nth($colors, index($themes, $theme));
        $r: red($color);
        $g: green($color);
        $b: blue($color);
        --color-#{$name}: #{$color};
        --rgb-#{$name}: #{$r, $g, $b};
      }
    }
  } @else {
    :root[data-theme="#{$theme}"] {
      @each $name, $colors in $theme-colors {
        $color: nth($colors, index($themes, $theme));
        $r: red($color);
        $g: green($color);
        $b: blue($color);
        --color-#{$name}: #{$color};
        --rgb-#{$name}: #{$r, $g, $b};
      }
    }
  }
}
