@import "@sass-utils";

html,
body {
  position: relative;
  font-family: $font-main;
  font-size: rem(16);
  font-weight: 400;
  color: var(--color-text);
  background-color: var(--color-main-bg);
}

::selection {
  color: var(--color-white);
  background-color: var(--color-main);
}

img::selection {
  background-color: rgba(var(--rgb-main), 0.5);
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
ol {
  list-style: none;
}
