// Fonts
$font-main: "Mukta", -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
  Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
$font-os: "Open Sans", sans-serif;
$font-editor: Menlo, ui-monospace, SFMono-Regular, Monaco, Consolas,
  "Liberation Mono", "Courier New", monospace;

// z-index

$z-header: 100;
$z-menu: 1000;
